
.attribution { 
    font-size: 0.6875em; 
    text-align: center;
    padding-top: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(30, 54%, 90%);
    font-size: 100%;
    max-height: 300vh;
   
    
    background-color:  hsl(30, 54%, 90%);
    
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
header img{
    width: 600px;
    border-radius: 20px;
}
header p{
    color: hsl(30, 10%, 34%);
    padding-bottom: 15px;
    font-size: 17px;
    margin: 10px;
}
header h1{
    font-size: 2.5em;
    color: hsl(24, 5%, 18%);
}
table{
width: 600px;
text-align: left;
border-collapse: collapse;

}
table tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 20px;
}
table tr th{
    padding: 20px;
}
.instructions ol{
    
    color: hsl(30, 10%, 34%);
    line-height: 9.5px;
}
.instructions li{
    margin: 0;
    line-height: 19px;
    padding-left: 20px;
}
.instructions h2{
    color: hsl(14, 45%, 36%);
    padding-top: 10px;
    padding-left: 10px;
    
}
.instructions li::marker {
    color: hsl(14, 45%, 36%);
}
div{
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    margin: 100%;
    
}
.time{
    background-color:  hsl(330, 100%, 98%);
    border-radius: 15px;
    
    
}
.time li{
    margin: 3px;
    color: hsl(30, 10%, 34%);
    padding: 3px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 700;
}
.time ul {
    padding-block-end: 12px;
    line-height: 18px;
    padding-block-start: px;
    
}
.time li::marker {
    color: hsl(332, 51%, 32%);
}
.time h2{
    color: hsl(332, 51%, 32%);
    padding-left: 15px;
    padding-top: 15px;
    font-size: 16px;
}
.ingredients h2{
    color: hsl(14, 45%, 36%);
    padding: 10px;
}
.ingredients ul{
    color: hsl(30, 10%, 34%);
    padding-block-end: 10px;
    line-height: 20px;
    
}
.ingredients li{
    margin: 5px;
    padding-left: 17px;
}
.ingredients li::marker {
    color: hsl(14, 45%, 36%);
}
.nutrition h2{
    color: hsl(14, 45%, 36%);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
}
    
.nutrition tr th{
    color: hsl(30, 10%, 34%);
    
}
.nutrition p{
    color: hsl(30, 10%, 34%);
}
.nutrition tr td{
    color: hsl(14, 45%, 36%);
}
